body {
    margin: 0;
    padding: 0;
    background-color: #524225;
    box-sizing: border-box;
}

.wrapper {
    width: 80vw;
    height: 60vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background: #000;
}